$sc:25;
%bz{
    box-sizing: border-box;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.study{
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    overflow-y: scroll;
    padding-bottom: 2.55rem;  
    
    .header{
        width: 100%;
        height: 1.5rem;
        @extend %bz;
        line-height: 1.5rem;
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        color: #777;
        font-size: 18/$sc+rem;
        position: fixed;
        border-bottom: solid 1px #eee;
        span{
            &:nth-of-type(3){
                font-size: 0.7rem;
            }
        }
    }
    nav{
        width: 100%;
        height: 5.5rem;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        padding-top: 12/$sc+rem;
        @extend %bz;
        div{
            margin-bottom: 1rem;
            h2{
                font-size: 24/$sc+rem;
            }
            p{
                font-size: 16/$sc+rem;
                color: #777;
            }
        }
        ul{
          list-style: none;   
          display: flex;
          font-size: 16/$sc+rem;
          justify-content: space-around;
          align-items: center;
          height: 1.5rem;
          color: #666;
          li{
              &:nth-of-type(1){
                  box-sizing: border-box;                 
              }
              flex: 8;
              &:nth-of-type(2){
                  flex: 1;                 
                  color: #999;
              }
              &:nth-of-type(4){
                  flex: 1;
                  color: #999;
              }
              .iconfont{
                      font-size: 20/$sc+rem;
                }
          }
          
        }
    }
    section{
        margin-top: 20/$sc+rem;
        
        
        ul{
            list-style: none;
            li{
                &:nth-of-type(2){
                    div{
                        .column{
                            span{
                                &:nth-of-type(1){
                                    background: url(../../src/assets/img/img18.png) no-repeat;
                                    background-size: 20/$sc+rem 20/$sc+rem;
                                }
                                
                            }
                        }
                    }
                }
                 &:nth-of-type(3){
                    div{
                        .column{
                            span{
                                &:nth-of-type(1){
                                    background: url(../../src/assets/img/img16.png) no-repeat;
                                    background-size: 20/$sc+rem 20/$sc+rem;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(4){
                    div{
                        .column{
                            span{
                                &:nth-of-type(1){
                                    background: url(../../src/assets/img/img11.png) no-repeat;
                                    background-size: 20/$sc+rem 20/$sc+rem;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(5){
                    div{
                        .column{
                            span{
                                &:nth-of-type(1){
                                    background: url(../../src/assets/img/img10.png) no-repeat;
                                    background-size: 20/$sc+rem 20/$sc+rem;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(6){
                    div{
                        .column{
                            span{
                                &:nth-of-type(1){
                                    background: url(../../src/assets/img/img9.png) no-repeat;
                                    background-size: 20/$sc+rem 20/$sc+rem;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(7){
                    div{
                        .column{
                            span{
                                &:nth-of-type(1){
                                    background: url(../../src/assets/img/img6.png) no-repeat;
                                    background-size: 20/$sc+rem 20/$sc+rem;
                                }
                            }
                        }
                    }
                }
                .timer{
                    @extend %bz;
                    height: 1.5rem;
                    padding-right: 0.4rem;
                    font-size: 18/$sc+rem;
                    color: #777;
                    line-height: 1.5rem;
                    background-color: #eee;
                    span{
                        &:nth-of-type(1){
                            display: inline-block;
                            margin-right: 12/$sc+rem;
                            position: relative;
                            width: 12/$sc+rem;
                            height: 12/$sc+rem;
                            border-radius: 6/$sc+rem;
                            background-color: crimson;
                            z-index: 9;
                            &:before{
                                content: '';
                                width: 6/$sc+rem;
                                height: 6/$sc+rem;
                                border-radius: 3/$sc+rem;
                                background-color: #fff;
                                position: absolute;
                                top: 3/$sc+rem;
                                left: 3/$sc+rem;
                                z-index: 9;
                            }
                            &:after{
                                content: '';
                                height:1.5rem;
                                width: 1px;
                                background-color: #666;
                                position: absolute;
                                left: 5/$sc+rem;
                                top: -16/$sc+rem;
                                z-index: -1;
                            }
                        }
                        
                    }
                }
                div{
                    .column{
                        @extend %bz;
                        padding-right: 10/$sc+rem;   
                        height: 1.8rem;
                        line-height: 1.8rem;
                        border-bottom: solid 1px #eee;
                        span{
                            font-size: 18/$sc+rem;
                            &:nth-of-type(1){
                                display: inline-block;
                                width: 20/$sc+rem;
                                height: 20/$sc+rem;
                                border-radius: 10/$sc+rem;
                                background: url(../../src/assets/img/img19.png) no-repeat;
                                background-size: 20/$sc+rem 20/$sc+rem;
                                margin-right: 12/$sc+rem;
                                vertical-align: middle;
                            }
                           
                            &:nth-of-type(3){
                                float: right;
                                color: #777;
                                margin-top: 0/$sc+rem;
                            }
                        }
                    }
                    div{
                        margin-top: 8/$sc+rem;
                        @extend %bz;
                        padding-right: 10/$sc+rem;
                        h1{
                            font-size: 20/$sc+rem;
                            margin-bottom: 8/$sc+rem;
                        }                   
                        p{
                            font-size: 14/$sc+rem;
                            color: #333;
                            
                        }
                    }
                    .linker{
                        @extend %bz;
                        display: flex;
                        margin-top: 12/$sc+rem;
                        height: 35/$sc+rem;
                        a{
                                flex: 1;
                                span{ 
                                    font-size: 16/$sc+rem;
                                    color: #333;
                                }
                        }
                        span{
                            
                            &:nth-of-type(1){
                                line-height: 25/$sc+rem;
                                flex: 2.5;
                                font-size: 12/$sc+rem;
                                color: #999;
                            }
                            
                           
                            &:nth-of-type(2){
                                height: 25/$sc+rem;
                                flex: 1;
                                font-size: 16/$sc+rem;
                                background-color: #FF9000;
                                color: #fff;
                                text-align: center;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}